.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header { 
  font-family: 'Racing Sans One', sans-serif;
  font-size: 25px;
  color: #FFFFFF;
  text-align: center;
  display: inline-block;
  /* The following properties are optional based on the design tool's UI elements shown but not clearly set for the text itself */
  text-transform: uppercase; /* If the text is meant to be uppercase */
  letter-spacing: normal; /* Adjust as needed */
  -webkit-text-stroke-width: 1px; /* if there's a stroke, replace '1px' with the actual stroke width */
  -webkit-text-stroke-color: #000000; /* if there's a stroke, replace '#000000' with the actual stroke color */
}

.todo-task{

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
   /* Puts space between the text and the button */
   /* Centers items vertically */
  width: 500px; /* Adjust as needed */
  height: 50px; /* Adjust as needed */
  padding: 0 15px; /* Adjust as needed */
  color: #FFFFFF; /* Light text */
  background-color: #333333; /* Dark background */
  border-radius: 4px; /* Rounded corners */
  font-size: 16px; /* Text size */
  margin-bottom: 10px; /* Space between tasks */
  position: relative;
  border-radius: 16px; 
}
.done-button{
 
  height: 50px; /* Adjust as needed */
  width: 90px;
  display: inline;
  position: absolute;
  right:    0;
  bottom:   0;
  background-color: #3498db;
  color: white;
  border: 2px;
  border-left: none; /* Removes border between button and input */
  border-radius: 16px; /* Rounded corners on the right side of the button */
  font-size: 16px;
  


}

.task-container{


  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally in the container */
  justify-content: center; /* Center items vertically in the container */
 
}
.task-input-container {
  align-items: center;
  border-radius: 5px;
 
}

.task-input {
  width: 837px; /* Width of the input field */
  height: 49px; /* Height of the input field */
  padding: 0 15px;
 
  border-right: none; /* Removes border between input and button */
  border-radius: 4px 0 0 4px; /* Rounded corners on the left side of the input */
  font-size: 16px;
  border: 2px ;
}
 
.add-task-btn {
  width: 120px; /* Width of the button */
  height: 49px; /* Height of the button */
  background-color: #3498db;
  color: white;
  border: 2px;
  border-left: none; /* Removes border between button and input */
  border-radius: 0 4px 4px 0; /* Rounded corners on the right side of the button */
  font-size: 16px;
  
}
.line{
  margin-top: 30px;
  margin-left: 190px;
  margin-right: 190px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
